<app-step stepNumber="1" stepTitle="Bespreek met de index wat we gaan doen">
    <p class="mt-4 mb-6">
        <b>Vertel:</b> We gaan andere mensen die jij (de index) hebt ontmoet die een besmettingsrisico hebben gelopen
        een melding sturen via de CoronaMelder app.
    </p>
<p class="capital-note">Eventuele vragen van de index</p>
    <app-expansion-panel panelTitle="Wat krijgen andere mensen te zien in de melding?">
        <p class="mb-1">
            In de melding staat op welke dag ze in de buurt zijn geweest van iemand met corona. 
            Ze weten niet wie die persoon is of waar ze elkaar zijn tegengekomen. 
            De app geeft ze verder het advies om ook een coronatest te doen. 
            Ze kunnen namelijk besmet zijn geraakt, zonder dat ze dat nu door hebben.
        </p>
    </app-expansion-panel>
    <app-expansion-panel panelTitle="Wie krijgen een melding?">
        <p class="mb-1">
            Alleen de mensen die minstens 15 minuten bij je in de buurt waren, op de dagen dat je besmettelijk was. 
            Ook moeten deze mensen natuurlijk de app gebruiken.
        </p>
    </app-expansion-panel>
    <app-expansion-panel panelTitle="Weten mensen dat ik melding heb gestuurd?">
        <p class="mb-1">
            Nee, ze weten niet wie de melding gestuurd heeft. Ze horen alleen op welke dag ze in de buurt zijn geweest van iemand met corona. 
        </p>
    </app-expansion-panel>
</app-step>
<app-step stepNumber="2" stepTitle="Vraag de index de GGD-sleutel in de app te zoeken">
    <p class="mt-4 mb-6">
        <b>Leg uit:</b> Zet je <b>telefoon op luidspreker.</b> Open de CoronaMelder app. Ga <b>helemaal naar beneden</b> en druk op het onderste item in de
        lijst <b>‘GGD-sleutel doorgeven’</b>.
    </p>
    <div class="bg-gray-200 rounded mb-6 py-8 pl-8 relative">
        <app-image-caroussel additionalStyle="left: 0rem;" [images]="images"></app-image-caroussel>
    </div>


    <p class="capital-note">Eventuele vragen van de index</p>
    <app-expansion-panel panelTitle="Waar staat die GGD-sleutel?">
    </app-expansion-panel>
    <app-expansion-panel panelTitle="Waar is die GGD-sleutel voor?">
        <p class="mb-1">
            De GGD controleert jouw GGD-sleutel als je een melding naar anderen stuurt. 
            Dit doen we om zeker te zijn dat alleen mensen die echt besmet zijn meldingen kunnen versturen. 
            Zonder het doorgeven van je GGD-sleutel kan je dus nooit meldingen naar anderen versturen.
        </p>
    </app-expansion-panel>
    <app-expansion-panel panelTitle="Hoe open ik een app als ik in gesprek ben?">
        <p class="mb-1">
            Zet de telefoon op luidspreker. Druk daarna op de home-knop van je telefoon om terug te gaan naar het beginscherm. 
            Vanaf daar kun je de CoronaMelder app openen.
        </p>
    </app-expansion-panel>
    <app-expansion-panel panelTitle="Is dit echt anoniem?">

        <p class="mb-1">De app wisselt codes uit met andere telefoons. In deze codes staan geen persoonsgegevens of
            locatiegegevens van je. Ze zijn helemaal willekeurig. Het uitwisselen van codes gebeurt op het moment dat je
            dicht bij een persoon bent die ook de app heeft.</p>
        <br>
        <p>Als deze persoon daarna positief test kan diegene in de app zijn of haar codes naar een centrale server
            sturen. Daarna krijgen jij en alle andere mensen die deze codes op hun telefoon hebben een melding. In deze
            melding staat alleen wanneer je extra kans op besmetting hebt gelopen. Niet wie besmet is en waar je die
            persoon tegengekomen bent.</p>

    </app-expansion-panel>
</app-step>
