<app-step  stepTitle="Vraag de index de codes te delen" stepNumber="5">
    <p class="mt-4 mb-6">
        <b>Leg uit:</b> Scroll naar beneden en druk op de blauwe knop met daarop <b>‘Codes delen’</b>.
        <br>
        Vervolgens krijgt u een popup met de vraag uw codes te delen. <b>Geef toestemming</b> om dit te doen.
    </p>
    <div class="bg-gray-200 rounded mb-6 py-8 pl-8 relative">
        <app-image-caroussel additionalStyle="left: 0rem;" [images]="images"></app-image-caroussel>
    </div>
    <p class="capital-note">Eventuele vragen van de index</p>
    <app-expansion-panel panelTitle="Ik kan de ‘codes delen’ knop niet vinden"></app-expansion-panel>
    <app-expansion-panel panelTitle="Welke informatie deel ik nu?"></app-expansion-panel>
</app-step>
