<app-step stepTitle="Controleer of het uploaden is gelukt" stepNumber="5">
    <div class="bg-white p-4 flex items-center mb-3 mt-6 rounded" style="max-width: 380px">
        <div class="icon loading w-6 h-6">

        </div>
        <span class="leading-none">Nog geen codes geupload door index</span>
    </div>
    <p class="text-gray-600 mb-10 text-sm" style="max-width: 340px">Lukt het de index niet om nu de codes te uploaden? De index kan
        dit nog tot middernacht zelf proberen zodra je hier op verwerken drukt.</p>
    <button class="btn btn-primary" style="min-width: 340px">Verwerken</button>
</app-step>
