<?xml version="1.0" encoding="utf-8"?>
<configuration>

<system.webServer>
<rewrite>
    <rules>
        <rule name="ReverseProxyAuth" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="iccauth/(.*)" negate="false" />
          <action type="Rewrite" url="http://corona-app-services-DEV.covt.mhscibg.nl/{R:1}" appendQueryString="true" logRewrittenUrl="true" />
          <conditions></conditions>
        </rule>
        <rule name="Angular Routes" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="./index.html" />
        </rule>
    </rules>
    <outboundRules>
        <clear />
        <rule name="GGDGHOR AUTH Redirect" preCondition="isred" enabled="true" stopProcessing="true">
            <match serverVariable="RESPONSE_Location" pattern="^http://[^/]+/(.*)" />
            <conditions logicalGrouping="MatchAny" trackAllCaptures="true">
                <add input="{RESPONSE_LOCATION}" pattern=".*(\/ggdghornl\/oauth2\/v1\/auth\?client_id=#{Deploy.ICCPortal.Client_Id}#&amp;scope=&amp;response_type=code&amp;redirect_uri=).*(&amp;state=.*)" />
            </conditions>
            <action type="Rewrite" value="#{Deploy.ICCPortal.GGDGHOR}#" />
        </rule>
        <preConditions>
            <preCondition name="isred">
                <add input="{RESPONSE_STATUS}" pattern="3\d\d" />
            </preCondition>
        </preConditions>
    </outboundRules>
  </rewrite>
</system.webServer>

</configuration>
