<div class="container">
    <div class="wrapper w-3/4">
        <div class="hero mt-20 mb-10">
            <h2>Digitaal Contactonderzoek</h2>
            <p class="text-gray-800">Help de index anderen te waarschuwen met de [Naam app] app</p>
        </div>
        <app-validate-step1></app-validate-step1>
        <app-validate-step2></app-validate-step2>
        <app-validate-step3></app-validate-step3>
        <app-validate-step4></app-validate-step4>
        <app-validate-step5></app-validate-step5>
    </div>
</div>

