<app-step stepTitle="Wacht tot de index de codes heeft gedeeld" stepNumber="6">
    <div class="bg-gray-200 p-4 flex items-center mb-3 mt-6 rounded upload-state-block">
        <div class="w-6 h-6 text-2xl mr-4 leading-none">
            <span class="icon" [class.icon-loading]="uploadState == 0"
                  [class.icon-exclamation-mark]="uploadState == -1"
                  [class.icon-check-green]="uploadState == 1"></span>
        </div>
        <span *ngIf="uploadState == -1" class="leading-normal">Op dit moment kunnen we niet controleren of de codes zijn geüpload door de index.</span>
        <span *ngIf="uploadState == 0" class="leading-none">Nog geen codes gedeeld door index</span>
        <span *ngIf="uploadState == 1" class="leading-none">Codes gedeeld door index</span>

    </div>
    <p class="text-gray-700 mb-10 text-sm" id="subtext">Lukt het delen van de codes nu niet?<br>
        Dan kan de index dit nog tot middernacht zelf proberen, zodra jij hier op verwerken drukt.</p>
    <button class="btn btn-primary" id="submitBtn" (click)="goToFinal(false)">Verwerken</button>
</app-step>
