

<div *ngIf="success" class="my-40 text-center flex items-center w-full h-full justify-center">
    <div class="text-center">
        <img src="assets/finished.png" class="mb-10 mx-auto" alt="">

        <h6 class="mb-6">
            De codes zijn geupload door de index
        </h6>
        <p class="mb-10">
            Alle personen die contact hebben gehad met de index vanaf <b>donderdag 4 juni</b> krijgen een melding.
        </p>
        <button routerLink="/validate/start" class="btn btn-primary">Nieuwe index verwerken</button>
    </div>
</div>
<div *ngIf="!success" class="my-40 text-center flex items-center w-full h-full justify-center">
    <div class="text-center">
        <img src="assets/finished.png" class="mb-10 mx-auto" alt="">

        <h6 class="mb-6">
            De index heeft tot 04:00 om de codes te uploaden en anderen te waarschuwen.
        </h6>
        <p class="mb-10">
            Alle personen die contact hebben gehad met de index vanaf <b>donderdag 4 juni</b> krijgen een melding als de codes zijn geupload.
        </p>
        <button routerLink="/validate/start" class="btn btn-primary">Nieuwe index verwerken</button>
    </div>
</div>
