<div class="my-40 text-center flex items-center w-full h-full justify-center">
    <div class="text-center">
        <img src="assets/finished.png" class="mb-10 mx-auto" alt="">

        <h6 class="mb-6">
            Risico contacten krijgen een melding
        </h6>
        <p class="mb-10">
            Alle personen die contact hebben gehad de index vanaf <b>{{this.friendlySymptomsDate()}}</b>  en daarbij besmettingsrisico hebben gelopen krijgen een melding.
        </p>
        <button routerLink="/validate/start" class="btn btn-primary">Nieuwe index verwerken</button>
    </div>
</div>
