<div class="my-40 text-center flex items-center w-full h-full justify-center">
    <div class="text-center">
        <img src="assets/finished.png" class="mb-10 mx-auto" alt="">

        <h6 class="mb-6">
            Alle personen die contact hebben gehad met de index krijgen een melding
        </h6>
        <p class="mb-10">
            Ze weten nu dat ze extra kans op besmetting hebben gelopen. Daarmee heeft de index geholpen de verspreiding van het coronavirus te stoppen.
        </p>
        <button routerLink="/validate/start" class="btn btn-primary">Nieuwe index verwerken</button>
    </div>
</div>
