<app-step stepNumber="2" stepTitle="Vul het tijdelijke wachtwoord van de index in">
    <div class="input-box grid grid-cols-8 mb-10" style="width: 480px; ">
        <input (input)="resetInvalidState()" [class.invalid]="InvalidState.includes(0)" (focus)="removeInvalidState($event,0)"
               (keyup)="icIdKeyPress($event)"
               type="text" [(ngModel)]="InfectionConfirmationId[0]" [autofocus]="true">
        <input (input)="resetInvalidState()" [class.invalid]="InvalidState.includes(1)" (focus)="removeInvalidState($event,1)"
               (keyup)="icIdKeyPress($event)"
               type="text" [(ngModel)]="InfectionConfirmationId[1]">
        <div class="text-center text-3xl py-4">-</div>
        <input (input)="resetInvalidState()" [class.invalid]="InvalidState.includes(3)" (focus)="removeInvalidState($event,3)"
               (keyup)="icIdKeyPress($event)"
               type="text" [(ngModel)]="InfectionConfirmationId[3]">
        <input (input)="resetInvalidState()" [class.invalid]="InvalidState.includes(4)" (focus)="removeInvalidState($event,4)"
               (keyup)="icIdKeyPress($event)"
               type="text" [(ngModel)]="InfectionConfirmationId[4]">
        <div class="text-center text-3xl py-4">-</div>
        <input (input)="resetInvalidState()" [class.invalid]="InvalidState.includes(6)" (focus)="removeInvalidState($event,6)"
               (keyup)="icIdKeyPress($event)"
               type="text" [(ngModel)]="InfectionConfirmationId[6]">
        <input (input)="resetInvalidState()" [class.invalid]="InvalidState.includes(7)" (focus)="removeInvalidState($event,7)"
               (keyup)="icIdKeyPress($event)"
               type="text" [(ngModel)]="InfectionConfirmationId[7]">
    </div>
    <button class="btn btn-primary" (click)="submitIccId()" [disabled]="InfectionConfirmationId.join('').length !== 8"
            style="width: 330px;">
        Bevestigen
    </button>
</app-step>
