<div class="container min-h-screen flex items-center justify-center">
    <div class="px-8 py-10 bg-white text-center rounded" style="max-width: 390px">
        <img src="assets/welcome_illustration.png" class="mx-auto" alt="">
        <h1 class="text-4xl mt-10 leading-tight">Digitaal Contactonderzoek</h1>
        <p class="text-gray-700 mt-4 mb-8">Help de index anderen te waarschuwen met de {{titleService.getAppTitle()}}
            app</p>
        <a class="btn">
            Inloggen met HPZone
        </a>
    </div>


</div>
