<app-step stepNumber="1" stepTitle="Vraag de index zijn/haar tijdelijke wachtwoord op te zoeken">

    <app-expansion-panel title="Waar staat dit tijdelijke wachtwoord?">
        app screens here

        <div>
            <p class="description">
                Open de app en<br>
                scroll naar beneden
            </p>
            <img src="" alt="">
        </div>

    </app-expansion-panel>
    <app-expansion-panel title="Hoe open ik een app als ik in gesprek ben?"></app-expansion-panel>
    <app-expansion-panel title="Is dit echt anoniem?"></app-expansion-panel>
    <app-expansion-panel title="Wat krijgen andere mensen te zien als de index zijn codes uploadt?"></app-expansion-panel>




</app-step>
