<app-step stepNumber="1" stepTitle="Vraag de index zijn/haar tijdelijke wachtwoord op te zoeken">

    <app-expansion-panel title="Waar staat dit tijdelijke wachtwoord?">
        app screens here

        <div>
            <p class="description">
                Open de app en<br>
                scroll naar beneden
            </p>
            <img src="" alt="">
        </div>

    </app-expansion-panel>
    <app-expansion-panel title="Hoe open ik een app als ik in gesprek ben?"></app-expansion-panel>
    <app-expansion-panel title="Is dit echt anoniem?">


        <p class="mb-1">De app wisselt codes uit met andere telefoons. In deze codes staan geen persoonsgegevens of locatiegegevens van je. Ze zijn helemaal willekeurig. Het uitwisselen van codes gebeurt op het moment dat je dicht bij een persoon bent die ook de app heeft.</p>
        <br>
        <p>Als deze persoon daarna positief test kan diegene in de app zijn of haar codes naar een centrale server sturen. Daarna krijgen jij en alle andere mensen die deze codes op hun telefoon hebben een melding. In deze melding staat alleen wanneer je extra kans op besmetting hebt gelopen. Niet wie besmet is en waar je die persoon tegengekomen bent.</p>


    </app-expansion-panel>
    <app-expansion-panel title="Wat krijgen andere mensen te zien als de index zijn codes uploadt?"></app-expansion-panel>




</app-step>
